* {
  font-family: 'Roboto', sans-serif;
}

h1, h2, p {
  padding: 5px;
}

h1 {
  font-style: italic;
  color: #1E253E;
}

p {
  font-size: 18px;
  font-weight: 600;
  display: inline-block;
}

.criterion {
  display: grid;
  grid-template-columns: 70% 30%;
}

p.score, h1.totalScore {
  text-align: right;
  font-weight: 600;
}

.scoreCard {
  padding: 20px 40px;
  border-radius: 10px;
  background-color: #C4C4C4;
}
