

.App {
  text-align: left;
  background-color: #1E253E;
}

.App-logo {
  height: 40vmin;
}

.App-link {
  color: #09d3ac;
}

.Left {
  float: left;
}

.Right {
  float: right;
}

.Content {
  display: grid;
  grid-template-columns: 60% 40%;
  margin: 40px 60px;
}

.Buttons {
  display: grid;
  grid-template-columns: 50% 50%;
  padding: 10px;
}
